.mensagem {
    font-size: 48x; /* Aumenta o tamanho da fonte */
    font-family: 'Poppins', sans-serif;
    font-weight: bold; /* Deixa em negrito */
    text-align: center;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    line-height: 1.8; /* Aumenta o espaço entre linhas */
}
.hidden {
    display: none !important; /* Garante que o botão desapareça completamente */
}
